<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InvoiceEmailFrom" value="yourEmail@domain.com" />
    <add key="SMTPServer" value="SMTPServer.domain.com" />
    <add key="ErrorTo" value="SendErrorNotificationEmailto" />
    <add key="EmailSubject" value="Some Notification" />
  </appSettings>
  
  <connectionStrings>
    <add name="cnEmailList" connectionString="Server=YourServer;Database=Database;Integrated Security=SSPI;Connect Timeout=60" providerName="System.Data.SqlClient" />
    <add name="cnClientList" connectionString="Server=YourServer;Database=Database;Integrated Security=SSPI;Connect Timeout=60" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>